<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title layout:title-pattern="$CONTENT_TITLE - Vocabulary">Vocabulary</title>

		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

		<link th:href="@{/css/reset.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.css}" rel="stylesheet"/>
		<link th:href="@{/css/header.css}" rel="stylesheet"/>
		<link th:href="@{/css/footer.css}" rel="stylesheet"/>
		<link th:href="@{/css/tabulator.css}" rel="stylesheet"/>

		<script th:src="@{/js/tabulator.js}"></script>
	</head>

	<body>

		<!-- Header -->
		<header th:replace="fragments/header :: header"></header>

		<!-- Content -->
		<main layout:fragment="content"></main>

		<!-- Footer -->
		<!-- <footer th:replace="fragments/footer :: footer"></footer> -->

	</body>
</html>
