@charset "UTF-8";

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    font-size: 24px;
    color: #333c;
    margin: 0px 12px 0px 12px;
}

header a:hover {
    color: #cccf;
    text-decoration: underline;
}

header a:active {
    color: #333f;
    text-decoration: underline;
}