@charset "UTF-8";

html, body { height: 100%; width: 100%; margin: 0; font-family: 'OCRA', monospace; }

body { display: flex; flex-direction: column; }

header, footer { height: 48px; }

section { background-color: #cccf; flex: 1; display: flex; min-height: 0; position: relative; }

.content-wrapper { flex: 1; display: flex; flex-direction: column; min-height: 0; padding: 20px; 
    position: absolute; width: 100%; height: 100%;}

.toolbar { display: flex; gap: 16px; margin-bottom: 20px; }
input { flex: 1; padding: 12px 16px; border-radius: 8px; border: none; font-size: 16px; caret-color: #f00f;}
button { background-color: #333c; color: #ffff; padding: 12px 16px; 
    border-radius: 8px; border: none; font-size: 16px; cursor: pointer; }
button:hover { background-color: #333c; color: #fffc; }
button:active { background-color: #3333; color: #ffff; }
label { background-color: #333c; color: #ffff; padding: 12px 16px; 
    border-radius: 8px; border: none; font-size: 16px; cursor: pointer; }
label input { margin-right: 8px; }

.table-wrapper { border-radius: 8px; flex: 1; min-height: 0; }
.tabulator { height: 100% !important; }
.tabulator .tabulator-footer .tabulator-page { color: #000f; }
.tabulator .tabulator-cell { font-size: 18px; }


.modal-wrapper { position: absolute; background-color: #333c; width: 100%; height: 100%; display: none; }
.modal { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.modal-body { width: 50%; height: 50%; background-color: #fffc; border-radius: 8px; padding: 20px; }
.modal-header { height: 48px; display: flex; align-items: center; justify-content: flex-start; }
.modal-footer { height: 48px; display: flex; align-items: center; justify-content: center; gap: 16px; }
.modal-content { height: calc(100% - 96px); }
.modal-content input { width: calc(100% - 40px); }

.show { display: block; }

.word-wrapper { border-radius: 8px; min-height: 0; }
.word { padding: 12px 16px; font-size: 24px; }