@charset "UTF-8";

html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    font-family: 'OCRA', monospace; 
}

body { 
    display: flex; 
    flex-direction: column; 
}

header, 
footer { 
    height: 48px; 
}

section { 
    background-color: #cccf; 
    flex: 1; 
    display: flex; 
    min-height: 0; 
    position: relative; 
}

.content-wrapper { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    height: 100%;
    min-height: 0; 
    padding: 12px; 
    position: absolute; 
}

.toolbar { 
    display: flex; 
    gap: 8px; 
    margin-bottom: 6px; 
    padding-bottom: 6px; 
    overflow-x: auto;
}

input { 
    /* flex: 1;  */
    padding: 8px; 
    border: none; 
    font-size: 16px; 
    caret-color: #f00f;
}

button {     
    background-color: #333c; 
    color: #ffff;
    padding: 8px;  
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    width: 80px;
}

button:hover { 
    background-color: #333c; 
    color: #fffc; 
}

button:active { 
    background-color: #3333; 
    color: #ffff; 
}

.radio-group {
    display: flex;
    gap: 8px;
    margin: 0px 8px 0px 8px;
}

.radio-group input {
    display: none;
}

.radio-group label {
    background-color: #333c; 
    color: #ffff; 
    padding: 8px; 
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    width: 80px;

    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
    text-align: center;
}

.radio-group label.full-width {
    width: 100%;
}

.radio-group label.more-height {
    padding: 16px 8px 16px 8px;
}

.radio-group input:checked + label {
    background-color: #fffc;
    color: #333c;
}

.radio-group label:hover {
    background-color: #333c; 
    color: #fffc;
}

.radio-group label:active {
     background-color: #3333; 
    color: #ffff; 
}

.table-wrapper { flex: 1; min-height: 0; }
.tabulator { height: 100% !important; }
.tabulator .tabulator-footer .tabulator-page { color: #000f; }
.tabulator .tabulator-cell { font-size: 18px; }
.tabulator .tabulator-footer .tabulator-page-counter { display: none; }

.modal-wrapper { position: absolute; background-color: #333c; width: 100%; height: 100%; display: none; }
.modal { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.modal-body { width: 50%; height: 50%; background-color: #fffc; padding: 20px; }
.modal-header { height: 48px; display: flex; align-items: center; justify-content: flex-start; }
.modal-footer { height: 48px; display: flex; align-items: center; justify-content: center; gap: 16px; }
.modal-content { height: calc(100% - 96px); }
.modal-content input { width: calc(100% - 40px); }

.show { display: block; }
.hide { display: none; }

.word-wrapper { min-height: 0; }
.word { padding: 12px 16px; font-size: 48px; }

.font16 { font-size: 16px; }
.font24 { font-size: 24px; }
.font48 { font-size: 48px; }

.bgClrR { background-color: #f00f; }
.bgClrG { background-color: #0f0f; }

.btn-wrapper { height: 48px; display: flex; align-items: center; justify-content: center; gap: 16px; }

@media (max-width: 768px) {
    
    header, footer { 
        height: 64px; 
    }

}
