@charset "UTF-8";

html, body { height: 100%; width: 100%; margin: 0; font-family: 'OCRA', monospace; }

body { display: flex; flex-direction: column; }

header, footer { height: 48px; }

section { background-color: #cccf; flex: 1; display: flex; min-height: 0; position: relative; }

.content-wrapper { flex: 1; display: flex; flex-direction: column; min-height: 0; padding: 20px; position: absolute; width: 100%; height: 100%; }

.toolbar { display: flex; gap: 16px; margin-bottom: 20px; }
.toolbar input { flex: 1; padding: 12px 16px; border-radius: 8px; border: none; font-size: 16px; }
.toolbar button { background-color: #333c; color: #ffff; padding: 12px 16px; border-radius: 8px; border: none; font-size: 16px; cursor: pointer; }
.toolbar button:hover { background-color: #333c; color: #fffc; }
.toolbar button:active { background-color: #3333; color: #ffff; }

.table-wrapper { border-radius: 8px; flex: 1; min-height: 0; }
.tabulator { height: 100% !important; }

.modal-wrapper { position: absolute; background-color: #333c; width: 100%; height: 100%; }

.hide { display: none; }