<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">

<head>
    <title>Home</title>
    <script th:src="@{/js/home.js}"></script>
    <script th:inline="javascript">
        const pv = [[${pv}]];
    </script>
</head>
<body>
<section layout:fragment="content">
    
    <div class="content-wrapper">
		<div class="toolbar">			
            <label><input type="radio" name="language" value="english" checked>English</label>
            <label><input type="radio" name="language" value="mongolian">Mongolian</label>

			<button class="toolbar-btn" th:id="'btnStart'+${pv}">Start</button>
			<button class="toolbar-btn" th:id="'btnPrev'+${pv}">Prev</button>
			<button class="toolbar-btn" th:id="'btnNext'+${pv}">Next</button>
            <button class="toolbar-btn" th:id="'btnCheck'+${pv}">Check</button>
		</div>

		<div class="word-wrapper">
			
		</div>
	</div>

</section>
</body>
</html>
