<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">

<head>
    <title>Home</title>
    <script th:src="@{/js/home.js}"></script>
    <script th:inline="javascript">
        const pv = [[${pv}]];
    </script>
</head>
<body>
<section layout:fragment="content">
    
    <div class="content-wrapper">
		<div class="toolbar">			
            <label><input type="radio" name="language" value="english" checked>English</label>
            <label><input type="radio" name="language" value="mongolian">Mongolian</label>
            <label><input type="radio" name="language" value="both">Both</label>

			<button class="toolbar-btn" th:id="'btnStart'+${pv}">Start</button>
			<button class="toolbar-btn" th:id="'btnPause'+${pv}">Pause</button>
			<button class="toolbar-btn" th:id="'btnStop'+${pv}">Stop</button>
            <button class="toolbar-btn" th:id="'btnCheck'+${pv}">Check</button>

            <label><input type="radio" name="time" value="3">3sec</label>
            <label><input type="radio" name="time" value="5" checked>5sec</label>
            <label><input type="radio" name="time" value="10">10sec</label>
		</div>

		<div class="word-wrapper">
            <div class="word">
                <p th:id="'engWord'+${pv}"></p>
            </div>
            <div class="word">
                <p th:id="'monWord'+${pv}"></p>
            </div>
            <div class="word">
                <p th:id="'regDate'+${pv}"></p>
            </div>
		</div>
	</div>

</section>
</body>
</html>
