<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/main">
<head>
	<script th:src="@{/js/manage.js}"></script>
	<script th:inline="javascript">
		const pv = [[${pv}]];
	</script>
</head>
<body>
<section layout:fragment="content">

	<div class="content-wrapper">
		<div class="toolbar">
			<input type="text" th:id="'inSearch'+${pv}" placeholder="Search input"/>

			<button class="toolbar-btn" th:id="'btnSelect'+${pv}">Select</button>
			<button class="toolbar-btn" th:id="'btnCreate'+${pv}">Create</button>
			<button class="toolbar-btn" th:id="'btnUpdate'+${pv}">Update</button>
			<button class="toolbar-btn" th:id="'btnCancel'+${pv}">Cancel</button>
			<button class="toolbar-btn" th:id="'btnDelete'+${pv}">Delete</button>
		</div>

		<div class="table-wrapper">
			<div th:id="'table'+${pv}"></div>
		</div>
	</div>

	<div class="modal-wrapper" th:id="'modal'+${pv}">
		<div class="modal">
			<div class="modal-body">
				<div class="modal-header">
					<h2 th:id="'h2ModalTitle'+${pv}">Create Vocabulary</h2>
				</div>
				<div class="modal-content">
					<input type="text" th:id="'inModalEngWord'+${pv}" placeholder="Input English"/>
					<br><br>
					<input type="text" th:id="'inModalMonWord'+${pv}" placeholder="Input Mongolian"/>
				</div>
				<div class="modal-footer">
					<button class="modal-btn" th:id="'btnModalSave'+${pv}">Save</button>
					<button class="modal-btn" th:id="'btnModalCancel'+${pv}">Cancel</button>
				</div>
			</div>					
		</div>
	</div>
</section>
</body>
</html>
