<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script th:src="@{/js/test.js}"></script>
    <script th:inline="javascript">
        const pv = [[${pv}]];
    </script>
</head>
<body>
<section layout:fragment="content">
    
    <div class="content-wrapper">
		<div class="toolbar">
            
            <div class="radio-group">
                <input type="radio" th:id="'start'+${pv}" name="action" value="start">
                <label th:for="'start'+${pv}">Start</label>

                <input type="radio" th:id="'stop'+${pv}" name="action" value="stop" checked>
                <label th:for="'stop'+${pv}">Stop</label>
            </div>

            <div class="radio-group">
                <input type="radio" th:id="'lastTen'+${pv}" name="limit" value="last 10">
                <label th:for="'lastTen'+${pv}">Last 10</label>

                <input type="radio" th:id="'randTen'+${pv}" name="limit" value="rand 10" checked>
                <label th:for="'randTen'+${pv}">Rand 10</label>

                <input type="radio" th:id="'lastFifty'+${pv}" name="limit" value="last 50">
                <label th:for="'lastFifty'+${pv}">Last 50</label>

                <input type="radio" th:id="'randFifty'+${pv}" name="limit" value="rand 50">
                <label th:for="'randFifty'+${pv}">Rand 50</label>
            </div>

            <div class="radio-group">
                <input type="radio" th:id="'eng'+${pv}" name="language" value="eng" checked>
                <label th:for="'eng'+${pv}">Eng</label>

                <input type="radio" th:id="'mon'+${pv}" name="language" value="mon">
                <label th:for="'mon'+${pv}">Mon</label>
            </div>
            
            <div class="radio-group">
                <input type="radio" th:id="'two'+${pv}" name="time" value="2">
                <label th:for="'two'+${pv}">2 sec</label>

                <input type="radio" th:id="'three'+${pv}" name="time" value="3" checked>
                <label th:for="'three'+${pv}">3 sec</label>
            </div>

		</div>

		<div class="word-wrapper" th:id="'wordWrapper'+${pv}">
            <div class="word" th:id="'engWord'+${pv}"></div>
            <div class="word" th:id="'monWord'+${pv}"></div>
            <div class="word" th:id="'regDate'+${pv}"></div>
            <div class="word" th:id="'count'+${pv}"></div>
		</div>

        <div class="table-wrapper hide" th:id="'tableWrapper'+${pv}">
			<div th:id="'table'+${pv}"></div>
		</div>
	</div>

</section>
</body>
</html>
